@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
/* Begin Simmer Effect */
.wrapper-box {
  width: 0px;
  animation: fullView 0.5s forwards linear;
  display: flex;
}

video{
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	background-image:url(https://cdn.jsdelivr.net/gh/muhammadnashirhaer/duktek/dk-bg.png);
}

.right-box{
	flex-grow:2;
	padding-left:10px;
}
.br {
  border-radius: 8px;  
}

.w30 {
   width: 30px;
}

.w50 {
   width: 50px;
}

.w60 {
   width: 60px;
}

.w70 {
   width: 70px;
}

.w150 {
   width: 150px;
}

.w170{
	width: 170px;
}

.w200{
	width: 200px;
}

.card-box {
	display: block;				
	padding:15px;
	border-bottom:1px dashed #A8A8A8;
}

.pic-box {
  height: 45px;
  width: 60px;
  border-radius: 10px;
}

.simmer-text {
  height: 10px;
  background: #777777;
  margin-bottom: 15px;
}

.simmer-text-mini {
  height: 5px;
  background: #777777;
  margin-bottom: 15px;
}

.simmer-text:last-child{
	margin-bottom:0px;
}



.animate{
	animation : shimmer 2s infinite;
	background: linear-gradient(to right,#A8A8A8 4%,#e2e2e2 25%,#A8A8A8 36%);
	background-size: 1000px 100%;
}

@keyframes fullView {
  100% {
	width: 100%;
  }
}

@keyframes shimmer {
  0% {
	background-position: -1000px 0;
  }
  100% {
	background-position: 1000px 0;
  }
}
/* End Simmer Effect */
.event_wrapper{
	position: relative;
}
.jw-error-msg{
	border-radius:5px!important;
	background: #505268!important;
	color: #FFFFFF;
}

.line-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    /*white-space: nowrap;*/
    /*text-overflow: ellipsis;*/
    display: -webkit-box;
    -webkit-box-orient: vertical;

}

.event_wrapper > .copy_button{
	position: absolute;
	right:10px;
	top:10px;
	width:35px;
	height:35px;
	background-color:#A8A9A8;
	display: none;
	border-radius:5px;
	cursor: pointer;
	background-image: url(/engine/pwa/img/copy.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 35px;
	text-decoration: none!important;
}

.event_wrapper:hover > .copy_button{
	display: block;
}

.copy_button:focus{
	background-color:#888988;
}

#panel_channel{
	display:grid;
	grid-template-columns: auto auto;	
	gap:10px;
}	

.bt-telegram{
	display: block;
	padding:8px 15px;
	background: #3887BE;
	color: #FAFAFA;
	text-decoration:none;
	font-size:15px;
	font-weight:500;
	text-align:center;
	border-radius:5px;
	margin-bottom:10px;
	
}

.bt-wa{
	display: block;
	padding:8px 15px;
	background: #128c7e;
	color: #FAFAFA;
	text-decoration:none;
	font-size:15px;
	font-weight:500;
	text-align:center;
	border-radius:5px;
	margin-bottom:10px;
}

#timer{
	padding:15px;
	padding-bottom:50px;
	color: #FFFFFF;
	display: none;
	text-align: center;	
	vertical-align: center;
	border-radius:5px;
	font-size:20px;	
	margin:0px;
	position:absolute;
	width:100%;
	left:0px;	
	bottom:0px;
	
}

.player_event{
	font-size:12px;
}
.nama_event{
	margin-bottom:10px!important;
}
.bt-donasi{
	display: block;
	padding:8px 15px;
	background: #FFB534;
	color: #1B4242;
	text-decoration:none;
	font-size:15px;
	font-weight:500;
	text-align:center;
	border-radius:5px;
	margin-bottom:10px;
}


.bt-install{
	display: block;
	padding:8px 15px;
	background: #A91D3A;
	color: #D2E3C8;
	text-decoration:none;
	font-size:15px;
	font-weight:500;
	text-align:center;
	border-radius:5px;
	margin-bottom:10px;
	cursor: pointer;
}

.hidden{
	display: none!important;
}
#overlay{
	display: none;
	text-decoration: none;
	color:#4F6F52;
	z-index:100000000;
}
#overlay-cuan{
	z-index: 100000001;
	height: 100vh;
	width: 100vw;
	background: rgba(12, 33, 23, 0.8);
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top:0px;
	left:0px;
}

#body-cuan{
	background: #DADADA;
	max-width: 100vw;
	max-height: 100vh;
	width: 300px;
	padding: 0px;
	color:#4F6F52;
	font-size:12px;
	border-radius:10px;
	overflow: hidden;
	border:0px solid rgba(12, 12, 12, 0.5);
}
#ad_button{
	position: absolute;
	display: none;
	background: #DED0B6;
	color: #62554B;
	z-index: 100000000;
	padding:10px 15px;
	font-weight:400;
	bottom:-100px;
	right:-100px;
}
.nama_channel, .nama_event, .fixture{
	color:#505268;
	font-size:14px;
}

.tagline{
	color:#667466;
	font-size:12px;
}

.button_panel:first-child{
	border-left:0px solid!important;	
}

.button_panel:last-child{
	border-right:0px solid!important;	
}

.button_panel{
	color:#505268;
	border-left:1px solid #D8D8D8;
	border-right:1px solid #869486;
	text-align:center;
	padding:10px 10px;
	cursor: pointer;	
	font-size: 12px;
	border-top: 5px solid #898989;
}

.button_panel.active{
	/*background: rgba(166, 180, 166, 0.7);*/
	background: #999999;
	font-weight: bold;
	color: #444444;
	border-top: 5px solid #797979;
}

.list_channel{
	display: flex;
	width: 100%;
	padding:13px 10px;
	border-bottom:1px dashed #A8A8A8;
	cursor: pointer;
	text-decoration:none!important;
	border-left:5px solid #A8A8A8;
	margin:0px;
}

.list_event{
	display: block;
	width: 100%;
	padding:15px 15px;
	border-bottom:1px dashed #A8A8A8;
	cursor: pointer;
	text-decoration:none!important;
	border-left:5px solid #999999;
	margin:0px;
}

.list_channel:hover, .list_event:hover{
	background: #B8B8B8;
	border-left:5px solid #9092A8;
}

.list_channel.active, .list_event.active{
	background: #B8B8B8;
	border-left:5px solid #707288;
}

.target_panel{
	width:100%;
	max-height:100%;
	height:100%;
	border-box: box-sizing;
	background:#D8D8D8;
	display: none;
	padding: 0px;
	max-height:100%;		
}

#wrapper_panel_header{
	background:#A8A8A8;
	padding:0px 0px;	
}

#panel_header{
	display:grid;
	grid-template-columns: auto auto auto;	
}	

#channel_container{
	background:transparent;
	padding:0px;
	flex-grow:2;
	height:1px!important;
	/*max-height:calc(100% - 145px);
	height:100%;*/
}

/* Begin Simpada Loader */
.simpada-first-loader-wrapper{
	position: fixed;
	bottom:0;
	right:0;
	background: rgba(255,255,255,1);
	height:100vh;
	width:100vw;
	z-index: 10000000;
}
.simpada-first-loader-content{				
	margin: 40vh auto 0%;
	display: block;
	text-align: center;
	color: #121212;               
	font-size: 12px; 
}   

.simpada-ajax-loader-wrapper{
	position: fixed;
	bottom:0;
	right:0;
	background: rgba(0,0,0,0.5);
	height:100vh;
	width:100vw;
	z-index: 10000000;
	display:none;
}
.simpada-ajax-loader-content-center{				
	margin: 45vh auto 0%;
	display: block;
	text-align: center;
	color: #FFFFFF;               
	font-size: 12px; 
}

.simpada-first-loader-content-bottom{
	position: fixed;
	bottom:0px;
	left:0px;
	width:100vw;
	padding:2px 10px;
}

@keyframes spinner-grow{0%{transform:scale(0)}50%{opacity:1;transform:none}}.spinner-grow{display:inline-block;width:2rem;height:2rem;vertical-align:-.125em;background-color:currentColor;border-radius:50%;opacity:0;animation:.65s linear infinite spinner-grow}.spinner-grow-sm{width:1rem;height:1rem}@media (prefers-reduced-motion:reduce){.spinner-border,.spinner-grow{animation-duration:1.3s}}
/* End Simpada Loader */
@media screen and (orientation:landscape){
	#main_body{
		width: 100vw;
		height: 100vh;
		display:flex;
		
	}
	#player_wrapper{
		margin: 0px;
		padding: 0px;
		flex-grow:2; 
		position: relative;
		background:#304D30;
	}
	#channels{
		margin: 0px;
		padding: 0px;
		width: 320px;
		border:0px solid #F00;
		display:flex;
		flex-direction: column;
		height:100%;
		background: #D8D8D8;
		
	}
	
	
}

@media screen and (orientation:portrait){
	


	#main_body{
		width: 100vw;
		height: 100vh;
		display:flex;
		flex-direction: column;
	}
	#player_wrapper{
		margin: 0px;
		position: relative;
		padding: 0px;
		width: 100vw;
		height:calc(100vw/1.6);
		background:#304D30;
	}
	#channels{
		margin: 0px;
		padding: 0px;
		width: 100%;
		border:0px solid #F00;
		display:flex;
		flex-direction: column;
		height:100%;
		max-height:calc(100% - (100vw/1.6));
		background: #D8D8D8;
		flex-grow:2; 
	}

	
}

.target_panel.active{
	display: block;
}

body {
    text-align: left;
    padding:0px;
    background-color: rgb(236, 236, 236);
    margin: 0px;
	font-family: 'Ubuntu';
	overflow: hidden;
    
}
*{
    box-sizing: border-box!important;
}
h1 {
    font-size: 3em;
}
p, 
a {
    font-size: 18px;
}
p {
    text-align: justify;
}
